.specnspic{
  background-color: rgb(128, 230, 115);
  font-family: cursive;
}
.heading{
  background-color: rgb(245, 126, 0);
  font-family: monospace;
}
.para{
  background-color:  rgb(0, 234, 255);
  font-family: sans-serif;
}